<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>ServletExample.Servlets.AllUsersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>ServletExample.Servlets.UpdateUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DownloadImage</servlet-name>
        <servlet-class>ServletExample.Servlets.DownloadServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>ServletExample.Servlets.AddUserServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>ServletExample.Servlets.RemoveUserServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/all</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DownloadImage</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ServletExample.Servlets.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>ServletExample.Filters.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
